<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
         <div class="main-content"> 
         {{>header}}
         <p>This site is created by Sabyasachi Dutta</p>
        <img class="portrait" src="img/self.jpg">
     </div>
    {{>footer}}
    </body></html>